*
{
	margin: 0;
	padding: 0;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }

  .fondo{
	  background-color: rgb(197, 240, 188);
  }

.body
{
	font-family: 'Asap', sans-serif;
	background-color: rgb(189, 238, 204);
	background-size: 100% 100%;
	background-attachment: fixed;
	margin: 0 auto;
	text-align: center;
	background-repeat: no-repeat;
}

body
{
	font-family: 'Asap', sans-serif;
	background-image: url('capama3.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.test
{
	background-color: #fff;
}

div#precarga
{
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	background-image: url('bg4.png');
}

header
{
	text-align: center;
	background: rgb(55, 100, 199);
}

h1
{
	color: rgba(255, 117, 26,.5);
}

.Login
{
	-webkit-border-radius: 10px;
	width: 550px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(165, 203, 209, 0.966);
	margin-bottom: 20px;
	border: none;
	margin-top: 70px;
}


.Login img
{
	display: block;
	position:relative;
	width: 550px;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	left: 0%;
	right: 38%;
}

input[type="text"],input[type="password"]
{
	height: 40px;
	width: 300px;
	font-size: 16px;
	margin-bottom: 20px;
	padding-left: 30px;
}

#form-input::before
{
	content: "\f007";
	position: absolute;
	font-family: 'FontAwesome';
	padding-left: 5px;
	color: rgb(129, 110, 82);
	padding-top: 0px;
	font-size: 30px;
}

.form-input:nth-child(2)::before
{
	content: "\f023";
}

input[type=submit]
{
	padding: 15px 30px;
	color:#fff;
	margin: 20px;
	cursor: pointer;
	border: none;
	background-color: rgb(46, 120, 204);
	border-radius: 4px;
	border-bottom: 4px solid #152e9d;
}


input[type=submit]:hover
{
	background: rgba(9, 116, 216, 0.5);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

a
{
	color: #19191a;
}

footer a
{
	padding: 10px;
	font-size: 20px;
	float:right;
	color: #2CD5D3;
	text-decoration: none;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #448caf;
    border-radius: 6px;
    border: 2px solid #00b05e;
  }