/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/

body
{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	background: url(capama3.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.user_form
{
	-webkit-border-radius: 10px;
	width: 700px;
	height: 650px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(76, 79, 80, 0.705);
	border: none;
}

	.user_form li
	{
		margin-top: 15px;
	}	

	.user_form ul .info
	{
		border-bottom: 1px solid rgba(2, 75, 73,1.0);
		color: #ecf0f5;
	}

	.user_form ul
	{
		list-style-type: none;
		list-style-position: outside;
		margin: 0px;
		padding: 0px;
	}

	.user_form label
	{
		width: 150px;
	    margin-top: 3px;
	    display: inline-block;
	    float: left;
	    padding: 3px;
	    color: rgb(236, 232, 232);
	}
	.user_form input
	{
		height: 20px;
	    width: 220px;
	    padding: 3px;
	    border: 1px solid;
	    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	    border-radius: 2px;
	    padding-right: 30px;
	    -moz-transition: padding .25s;
	    -webkit-transition: padding .25s;
	    -o-transition: padding .25s;
	    transition: padding .25s;
	}
	.user_form input:focus
	{
		background: #fff;
        border: 2px solid #555;
        box-shadow: 0 0 3px #aaa;
        padding-right: 70px;
	}
	.user_form input:required:valid
	{
		background: #fff
        box-shadow: 0 0 5px #5cd053;
        border-color: #00f;
	}
	.user_form input:required:invalid
	{
		background: #fff
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535;
	}

	.user_form .boton
	{
		height: 30px;
		background-color: #2f67b1;
	    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	    background: -webkit-linear-gradient(top, #68b12f, #1e6d91);
	    background: -moz-linear-gradient(top, #68b12f, #bbcaaf);
	    background: -ms-linear-gradient(top, #68b12f, #50911e);
	    background: -o-linear-gradient(top, #68b12f, #50911e);
	    background: linear-gradient(top, #68b12f, #50911e);
	    border: 1px solid #509111;
	    border-bottom: 1px solid #5b992b;
	    border-radius: 3px;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	    -o-border-radius: 3px;
	    box-shadow: inset 0 1px 0 0 #9fd574;
	    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
	    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
	    color: white;
	    font-weight: bold;
	    padding: 6px 20px;
	    text-align: center;
	    text-shadow: 0 -1px 0 #396715;
	    margin-bottom: 10px;
	}

		.user_form .boton:hover
		{
			opacity: .85;
        	cursor: pointer;
		}
		.user_form .boton:active
		{
			border: 1px solid #20911e;
	        box-shadow: 0 0 10px 5px #356b0b inset;
	        -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
	        -moz-box-shadow: 0 0 10px 5px #356b0b inset;
	        -ms-box-shadow: 0 0 10px 5px #356b0b inset;
	        -o-box-shadow: 0 0 10px 5px #356b0b inset;
		}

		.user_form a
		{
			text-decoration: none;
			margin-top: 20px;
			background: #fff;
		}