{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/signup.css' %}">
	<link rel="stylesheet" href="{% static 'css/Raleway.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<title>• Crear nueva cuenta •</title>
		<link rel="icon" href="../static/media/icono48.ico" >
</head>
<body> 

        {% if errores %}
         <ul>
            {% for error in errores %}

			<script>alert("{{error}}");</script>

			{% endfor %}
         </ul>
         {% endif %}
	
	<form class="user_form" action="/registro/"  method="post"> {% csrf_token %}
			<ul>
				<li class="info">
					<h3>Información General: </h3>
				</li>
				<li>
					<label for="nombre">Nombre: </label>
					<input type="text" required name="Nombre">
				</li>
				<li>
					<label for="AP">Apellidos: </label>
					<input type="text" required name="ApellidoP">
				</li>
				<li>
					<label for="AM">Numero de teléfono: </label>
					<input type="text" required name="ApellidoM">
				</li>
				<!--aquí separo la fecha para que se registre de forma correcta y no andar poniendo todo enredoso
				<li>
					<label for="edad">Email</label>
					<input type="date" required name="Year" min="1960-01-01" max="2010-12-31" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="Año e.j. 1998">
				</li>-->
				<li>
				<label for="CT"> Puesto: </label>
				<input type="text" required name="Clave">
				</li>
				<li class="info">
					<h3>Información de la cuenta: </h3>
				</li>

				<li>
					<label for="user">Nombre de usuario: </label>
					<input type="text" required name="NUsuario" minlength="5" maxlength="15" title="El nombre de Usuario debe contener mínimo 8 carácteres y máximo 15">
				</li>
				<li>
										
					<label for="password">Contraseña: </label>
					<input type="password" required name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="La contraseña debe contener mínimo una letra mayúscula, una letra minúscula y un número, además debe tener al menos 6 carácteres">
				</li>
				<li>
					<label for="password2">Confirmar contraseña: </label>
					<input type="password" required name="Password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="La contraseña debe contener mínimo una letra mayúscula, una letra minúscula y un número, además debe tener al menos 6 carácteres">
				</li>
				<li>
					<label for="email">e-mail: </label>
					<input type="email" required autocomplete   name="Email">
				</li>
				<br>

				<input type="submit" name="crear" value="Crear cuenta" class="boton">
				<br>
				<a href="https://www.capama.gob.mx/fundamentos" > Acerca de <i class="fa fa-question-circle" aria-hidden="true"></i></a>
				
				<br>
				<a href="/login/">¿Ya tienes una cuenta? Ingresar</a>
				<!--
				<input type="button" name="cancelar" value="Cancelar" class="boton">
				-->
				<br>
				<br><br><!--
				<a href="about.html"> Acerca de <i class="fa fa-question-circle" aria-hidden="true"></i></a>
				-->
			
			</ul>
	</form>
</body>
</html>
