{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CAPAMA| servicio de agua potable y saneamiento de Acapulco, Guerrero.</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
  <!--///////////////////////////////// COLUMNA AZUL ////////////////////////////////////////////////////////////////////////////////////////-->  
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Bienvenido {{ name }}</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i class="fas fa-table"></i><span>Reportes</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <div class="d-flex flex-column" id="content-wrapper">
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"></div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <center>
                            <img src="{% static 'media/capama_r2.png' %}" width= 40% height= 65% alt="capama" style="margin-right: 300px;">
                            </center>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="fas fa-user fa-sm fa-fw mr-2 " style="color: rgb(70, 66, 66);">&nbsp;&nbsp; {{ name }}</span><img class="border rounded-circle img-profile" src=""></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Perfil</a><a class="dropdown-item" role="presentation" href="https://www.capama.gob.mx"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Página principal</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="/logOut/"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Cerrar sesión</a></div>
                    </li>
                    </li>
                    </ul>
            </div>
            </nav>
 <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->           
            <div class="container-fluid">
                <h3 class="text-dark mb-4">CAPAMA| servicio de agua potable y saneamiento de Acapulco, Guerrero.</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Reportes de fuga de agua</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Mostrar<select class="form-control form-control-sm custom-select custom-select-sm"><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                            </div>
                        </div>
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Fuga de agua</th>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th> <center> Número de contrato</center></th>
                                        <th>Direccion</th>
                                        <th>Prioridad</th>
                                        <th>Estado del reporte</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if reportes %}
                                    {% for Reporte in reportes %}
                                    <tr>
                                        <td> {% if Reporte.Foto %}
                                            <img src="{{ Reporte.Foto.url }}" alt="foto" width="300px" height="300px">
                                        {% else %}
                                          <h3>No hay foto</h3>
                                        {% endif %}</td>
                                        <td>{{ Reporte.NombreUsuario }} </td>
                                        <td>{{ Reporte.ApellidoUsuario }}</td>
                                        <td> <center> {{ Reporte.Num_contrato }} </center></td>
                                        <td>{{ Reporte.Direccion }}</td>
                                        <td>{{ Reporte.Prioridad }}</td>
                                        <td><center>
                                            <div class="dropdown">
                                                <button class="btn btn-primary" aria-expanded="false" type="button">{{ Reporte.Estado_reporte }}</button>
                                            </div>
                                            </center>
                                            <form action="" method="POST">{% csrf_token %}
                                                <table>
                                                    <!-- {{ form.as_table }} carga el formulario creado con la API form-->
                                                    <form action="POST"><!--s3 debe optimizar este input, se debe agregar a form y no as[i todo cochino-->
                                                        <label><input type="radio" name="Estatus" value="ACTIVO" required>ACTIVO</label><br>
                                                        <label><input type="radio" name="Estatus" value="PENDIENTE">PENDIENTE</label><br>
                                                        <label><input type="radio" name="Estatus" value="FINALIZADO">FINALIZADO</label>
                                                        
                                                        <input type="hidden" name="Nombre" value="{{ Reporte.NombreUsuario }}"> <!--manda el nombre del usuario que se debe actualizar-->
                                                    </form>
                                                </table>
                                               
                                                <input type="submit" value="Actualizar">
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                </tbody>

                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                        </div>

                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Mostrando 1 de 127</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Acapulco,Gro 2019</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src= "{% static 'assets/js/jquery.min.js' %}" ></script>
    <script src= "{% static 'assets/bootstrap/js/bootstrap.min.js' %}" ></script>
    <script src= "{% static 'assets/js/chart.min.js' %}" ></script>
    <script src= "{% static 'assets/js/bs-charts.js' %}" ></script>
    <script src= "{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js' %}" ></script>
    <script src= "{% static 'assets/js/theme.js' %}" ></script>

</body>

</html>