<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    {% if Estados %}
        Estados: {{Estados|length}}

        <ul>
            {% for Estado in Estados %}
                <li>
                    {{Estado.Estado_reporte}} &nbsp; {{Estado.NombreUsuario}}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>no hay nada</p>

    {% endif %}
</body>
</html>